| Título | Data obtenida en  | Autor
|------|------|---------|
|  Calidad de aire en México | Página de datos abiertos del gobierno de México| Rodolfo Pardo

In [2]:
#Vamos a comenzar importando las librerias que vamos a necesitar para nuestro estudio 

import pandas as pd

In [15]:
print('''Concentraciones validadas de calidad del aire en el periodo 1997-2014, 
      por contaminante para cada una de las estaciones de monitoreo en ciudades mexicanas.''')

Concentraciones validadas de calidad del aire en el periodo 1997-2014,
      por contaminante para cada una de las estaciones de monitoreo en ciudades mexicanas.

In [3]:
#Leemos el archivo

air_quality = pd.read_csv("calidad_de_aire.csv")

In [4]:
#Comenzamos a conocer nuestra base con sus columnas

air_quality.columns

Index(['Fecha', 'Hora', 'AGU', 'ATM', 'CEN', 'LDO', 'MIR', 'OBL', 'TLA',
       'VAL'],
      dtype='object')

In [5]:
#Conocemos los tipos de variables que tenemos en cada columna

air_quality.dtypes

Fecha     object
Hora       int64
AGU      float64
ATM      float64
CEN      float64
LDO      float64
MIR      float64
OBL      float64
TLA      float64
VAL      float64
dtype: object

In [6]:
#Conocemos algunos datos estadísticos

air_quality.describe()

,Hora,AGU,ATM,CEN,LDO,MIR,OBL,TLA,VAL
count,8760.000000,8031.000000,7509.000000,7705.000000,7528.000000,7217.000000,6371.000000,8055.000000,8624.000000
mean,11.500000,41.483252,35.765082,40.623621,42.559777,27.143966,27.523937,32.657976,24.088474
std,6.922582,16.321450,26.687490,15.734998,22.095193,15.568787,16.826397,15.710587,14.468325
min,0.000000,2.000000,5.000000,4.000000,1.000000,1.000000,1.000000,6.000000,1.000000
25%,5.750000,32.000000,23.000000,32.000000,32.000000,18.000000,20.000000,23.000000,14.000000
50%,11.500000,40.000000,30.000000,39.000000,43.000000,24.000000,24.000000,32.000000,20.000000
75%,17.250000,51.000000,40.000000,49.000000,54.000000,33.000000,31.000000,41.000000,30.000000
max,23.000000,191.000000,480.000000,151.000000,496.000000,281.000000,224.000000,294.000000,179.000000

In [17]:
#Identificando datos vacios 

nulos = air_quality.isnull()
nulos_suma = air_quality.isnull().sum()
print(nulos)
print(nulos_suma)
print("Segun estos parametros, la estacion Oblatos es la que mayor cantidad de valores perdidos tiene")

      Fecha   Hora    AGU    ATM    CEN    LDO    MIR    OBL    TLA    VAL
0     False  False  False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False  False  False
5     False  False  False  False  False  False  False  False  False  False
6     False  False  False  False  False  False  False   True  False  False
7     False  False  False  False  False  False  False   True  False  False
8     False  False  False  False  False  False  False   True  False  False
9     False  False  False  False  False  False  False   True  False  False
10    False  False  False  False  False  False  False   True  False  False
11    False  False  False  False  False  False  False   True  False  False
12    False  False  False  False  False  False  False   True  False  False
13    False  False  False  False  False  False  False  False  False  False
14    False  False  False  False  False  False  False  False  False  False
15    False  False  False  False  False  False  False  False  False  False
16    False  False  False  False  False  False  False  False  False  False
17    False  False  False  False  False  False  False  False  False  False
18    False  False  False  False  False  False  False  False  False  False
19    False  False  False  False  False  False  False  False  False  False
20    False  False  False  False  False  False  False  False  False  False
21    False  False  False  False  False  False  False  False  False  False
22    False  False  False  False  False  False  False  False  False  False
23    False  False  False  False  False  False  False  False  False  False
24    False  False  False  False  False  False  False  False  False  False
25    False  False  False  False  False  False  False  False  False  False
26    False  False  False  False  False  False  False  False  False  False
27    False  False  False  False  False  False  False  False  False  False
28    False  False  False  False  False  False  False  False  False  False
29    False  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
8730  False  False  False  False  False  False  False  False  False  False
8731  False  False  False  False  False  False  False  False  False  False
8732  False  False  False  False  False  False  False  False  False  False
8733  False  False  False  False  False  False  False  False  False  False
8734  False  False  False  False  False  False  False  False  False  False
8735  False  False  False  False  False  False  False  False  False  False
8736  False  False  False  False  False  False  False  False  False  False
8737  False  False  False  False  False  False  False  False  False  False
8738  False  False  False  False  False  False  False  False  False  False
8739  False  False  False  False  False  False  False  False  False  False
8740  False  False  False  False  False  False  False  False  False  False
8741  False  False  False  False  False  False  False  False  False  False
8742  False  False  False  False  False  False  False  False  False  False
8743  False  False  False  False  False  False  False  False  False  False
8744  False  False  False  False  False  False  False  False  False  False
8745  False  False  False  False  False  False  False  False  False  False
8746  False  False  False  False  False  False  False  False  False  False
8747  False  False  False  False  False  False  False  False  False  False
8748  False  False  False  False  False  False  False  False  False  False
8749  False  False  False  False  False  False  False  False  False  False
8750  False  False  False  False  False  False  False  False  False  False
8751  False  False  False  False  False  False  False  False  False  False
8752  False  False  False  False  False  False  False  False  False  False
8753  False  False  False  False  False  False  False  False  False  False
8754  False  False  False  False  False  False  False  False  False  False
8755  False  False  False  False  False  False  False  False  False  False
8756  False  False  False  False  False  False  False  False  False  False
8757  False  False  False  False  False  False  False  False  False  False
8758  False  False  False  False  False  False  False  False  False  False
8759  False  False  False  False  False  False  False  False  False  False

[8760 rows x 10 columns]
Fecha       0
Hora        0
AGU       729
ATM      1251
CEN      1055
LDO      1232
MIR      1543
OBL      2389
TLA       705
VAL       136
dtype: int64
Segun estos parametros, la estacion Oblatos es la que mayor cantidad de valores perdidos tiene

In [16]:
#Veamos los primeros 10 valores para obtener mejores datos 

air_quality.head(10)

        Fecha  Hora   AGU   ATM   CEN   LDO   MIR   OBL   TLA   VAL
0  2001-01-01     0  41.0  36.0  47.0  23.0  32.0  36.0  45.0  18.0
1  2001-01-01     1  36.0  34.0  47.0  23.0  34.0  37.0  38.0  19.0
2  2001-01-01     2  39.0  30.0  43.0  23.0  30.0  35.0  36.0  19.0
3  2001-01-01     3  44.0  28.0  41.0  23.0  33.0  35.0  41.0  19.0
4  2001-01-01     4  40.0  27.0  42.0  23.0  36.0  36.0  43.0  18.0
5  2001-01-01     5  38.0  25.0  49.0  23.0  37.0  35.0  38.0  19.0
6  2001-01-01     6  35.0  25.0  51.0  23.0  31.0   NaN  39.0  16.0
7  2001-01-01     7  36.0  22.0  47.0  24.0  28.0   NaN  36.0  15.0
8  2001-01-01     8  39.0  23.0  56.0  23.0  30.0   NaN  43.0  16.0
9  2001-01-01     9  36.0  44.0  69.0  23.0  38.0   NaN  62.0  24.0

Para entender que esta tomando cada una de las estaciones, tenemos que saber donde se encuentran ubicadas

<img src='estaciones.png'>

In [22]:
#Para cualquier persona, la base es bastante poco entendible
#Vamos a cambiar la nomenclatura de las columnas

columnas = ["Fecha", "Hora","Aguilas", "Atemajac", "Centro", "Loma Dorada", "Miravalle", "Oblatos", "Tlaquepaque", "Vallarta"]

air_quality.columns

air_quality.columns = columnas

air_quality.head(3)

,Fecha,Hora,Aguilas,Atemajac,Centro,Loma Dorada,Miravalle,Oblatos,Tlaquepaque,Vallarta
0,2001-01-01,0,41.0,36.0,47.0,23.0,32.0,36.0,45.0,18.0
1,2001-01-01,1,36.0,34.0,47.0,23.0,34.0,37.0,38.0,19.0
2,2001-01-01,2,39.0,30.0,43.0,23.0,30.0,35.0,36.0,19.0

<bound method hist_frame of            Fecha  Hora  Aguilas  Atemajac  Centro  Loma Dorada  Miravalle  \
0     2001-01-01     0     41.0      36.0    47.0         23.0       32.0
1     2001-01-01     1     36.0      34.0    47.0         23.0       34.0
2     2001-01-01     2     39.0      30.0    43.0         23.0       30.0
3     2001-01-01     3     44.0      28.0    41.0         23.0       33.0
4     2001-01-01     4     40.0      27.0    42.0         23.0       36.0
5     2001-01-01     5     38.0      25.0    49.0         23.0       37.0
6     2001-01-01     6     35.0      25.0    51.0         23.0       31.0
7     2001-01-01     7     36.0      22.0    47.0         24.0       28.0
8     2001-01-01     8     39.0      23.0    56.0         23.0       30.0
9     2001-01-01     9     36.0      44.0    69.0         23.0       38.0
10    2001-01-01    10     21.0      45.0    45.0         23.0       40.0
11    2001-01-01    11     22.0      27.0    41.0         23.0       40.0
12    2001-01-01    12     21.0      24.0    39.0         23.0       32.0
13    2001-01-01    13     18.0      29.0    41.0         23.0       35.0
14    2001-01-01    14     19.0      22.0    44.0         23.0       38.0
15    2001-01-01    15     18.0      22.0    42.0         23.0       36.0
16    2001-01-01    16     18.0      23.0    45.0         23.0       33.0
17    2001-01-01    17     17.0      33.0    52.0         22.0       46.0
18    2001-01-01    18     18.0      58.0    74.0         23.0       63.0
19    2001-01-01    19     18.0      61.0    89.0         23.0       68.0
20    2001-01-01    20     20.0      49.0    68.0         23.0       65.0
21    2001-01-01    21     17.0      52.0    71.0         22.0       62.0
22    2001-01-01    22     18.0      52.0    66.0         23.0       55.0
23    2001-01-01    23     18.0      52.0    66.0         23.0       54.0
24    2001-01-02     0     19.0      70.0    69.0         23.0       51.0
25    2001-01-02     1     18.0      94.0    75.0         23.0       48.0
26    2001-01-02     2     17.0      40.0    71.0         23.0       49.0
27    2001-01-02     3     17.0      32.0    66.0         24.0       43.0
28    2001-01-02     4     19.0      27.0    63.0         22.0       44.0
29    2001-01-02     5     20.0      34.0    59.0         23.0       44.0
...          ...   ...      ...       ...     ...          ...        ...
8730  2001-12-30    18     53.0      39.0    62.0         40.0       25.0
8731  2001-12-30    19     57.0      51.0    66.0         57.0       28.0
8732  2001-12-30    20     63.0      51.0    66.0         58.0       28.0
8733  2001-12-30    21     57.0      47.0    66.0         48.0       25.0
8734  2001-12-30    22     56.0      44.0    70.0         51.0       22.0
8735  2001-12-30    23     58.0      41.0    72.0         39.0       23.0
8736  2001-12-31     0     49.0      41.0    66.0         39.0       25.0
8737  2001-12-31     1     59.0      40.0    67.0         52.0       26.0
8738  2001-12-31     2     60.0      40.0    73.0         32.0       26.0
8739  2001-12-31     3     57.0      37.0    70.0         41.0       25.0
8740  2001-12-31     4     56.0      33.0    70.0         40.0       23.0
8741  2001-12-31     5     56.0      33.0    70.0         49.0       18.0
8742  2001-12-31     6     56.0      32.0    70.0         40.0       15.0
8743  2001-12-31     7     58.0      29.0    68.0         35.0       11.0
8744  2001-12-31     8     61.0      38.0    85.0         38.0       21.0
8745  2001-12-31     9     84.0      82.0    85.0         35.0       25.0
8746  2001-12-31    10     75.0      69.0    70.0         61.0       23.0
8747  2001-12-31    11     58.0      50.0    72.0         37.0       19.0
8748  2001-12-31    12     62.0      46.0    70.0         31.0       23.0
8749  2001-12-31    13     53.0      45.0    57.0         31.0       21.0
8750  2001-12-31    14     50.0      37.0    48.0         36.0       15.0
8751  2001-12-31    15     49.0      33.0    44.0         31.0       14.0
8752  2001-12-31    16     45.0      22.0    44.0         31.0       16.0
8753  2001-12-31    17     46.0      23.0    48.0         33.0       16.0
8754  2001-12-31    18     56.0      42.0    61.0         47.0       25.0
8755  2001-12-31    19     55.0      50.0    66.0         50.0       26.0
8756  2001-12-31    20     58.0      48.0    66.0         44.0       24.0
8757  2001-12-31    21     59.0      47.0    58.0         35.0       20.0
8758  2001-12-31    22     53.0      46.0    54.0         43.0       16.0
8759  2001-12-31    23     53.0      48.0    61.0         51.0       17.0

      Oblatos  Tlaquepaque  Vallarta
0        36.0         45.0      18.0
1        37.0         38.0      19.0
2        35.0         36.0      19.0
3        35.0         41.0      19.0
4        36.0         43.0      18.0
5        35.0         38.0      19.0
6         NaN         39.0      16.0
7         NaN         36.0      15.0
8         NaN         43.0      16.0
9         NaN         62.0      24.0
10        NaN         48.0      38.0
11        NaN         43.0      20.0
12        NaN         46.0      15.0
13       17.0         44.0      11.0
14       26.0         51.0       9.0
15       28.0         49.0      10.0
16       25.0         51.0      10.0
17       25.0         50.0      15.0
18       48.0         65.0      30.0
19       54.0         89.0      30.0
20       49.0         95.0      35.0
21       38.0         74.0      41.0
22       35.0         78.0      28.0
23       32.0         68.0      29.0
24       31.0         63.0      30.0
25       30.0         57.0      26.0
26       33.0         69.0      24.0
27       32.0         64.0      22.0
28       29.0         63.0      22.0
29       30.0         76.0      18.0
...       ...          ...       ...
8730     38.0          6.0      21.0
8731     43.0          6.0      22.0
8732     44.0          6.0      34.0
8733     40.0          6.0      31.0
8734     42.0          6.0      28.0
8735     42.0          6.0      33.0
8736     41.0          7.0      31.0
8737     39.0          6.0      36.0
8738     40.0          6.0      35.0
8739     37.0          6.0      34.0
8740     35.0          6.0      31.0
8741     35.0          6.0      33.0
8742     37.0          6.0      32.0
8743     38.0          6.0      33.0
8744     39.0          6.0      43.0
8745     37.0          6.0      73.0
8746     32.0          6.0      73.0
8747     31.0          7.0      52.0
8748     34.0          6.0      49.0
8749     40.0          6.0      30.0
8750     32.0          6.0      25.0
8751     30.0          6.0      22.0
8752     25.0          6.0      15.0
8753     26.0          6.0      12.0
8754     39.0          6.0      30.0
8755     46.0          6.0      35.0
8756     46.0          6.0      35.0
8757     44.0          6.0      38.0
8758     41.0          6.0      31.0
8759     43.0          7.0      29.0

[8760 rows x 10 columns]>

In [24]:
#Comenzamos a limpiar la base y sus valores NaN 

air_quality.fillna(0)

,Fecha,Hora,Aguilas,Atemajac,Centro,Loma Dorada,Miravalle,Oblatos,Tlaquepaque,Vallarta
0,2001-01-01,0,41.0,36.0,47.0,23.0,32.0,36.0,45.0,18.0
1,2001-01-01,1,36.0,34.0,47.0,23.0,34.0,37.0,38.0,19.0
2,2001-01-01,2,39.0,30.0,43.0,23.0,30.0,35.0,36.0,19.0
3,2001-01-01,3,44.0,28.0,41.0,23.0,33.0,35.0,41.0,19.0
4,2001-01-01,4,40.0,27.0,42.0,23.0,36.0,36.0,43.0,18.0
5,2001-01-01,5,38.0,25.0,49.0,23.0,37.0,35.0,38.0,19.0
6,2001-01-01,6,35.0,25.0,51.0,23.0,31.0,0.0,39.0,16.0
7,2001-01-01,7,36.0,22.0,47.0,24.0,28.0,0.0,36.0,15.0
8,2001-01-01,8,39.0,23.0,56.0,23.0,30.0,0.0,43.0,16.0
9,2001-01-01,9,36.0,44.0,69.0,23.0,38.0,0.0,62.0,24.0
10,2001-01-01,10,21.0,45.0,45.0,23.0,40.0,0.0,48.0,38.0
11,2001-01-01,11,22.0,27.0,41.0,23.0,40.0,0.0,43.0,20.0
12,2001-01-01,12,21.0,24.0,39.0,23.0,32.0,0.0,46.0,15.0
13,2001-01-01,13,18.0,29.0,41.0,23.0,35.0,17.0,44.0,11.0
14,2001-01-01,14,19.0,22.0,44.0,23.0,38.0,26.0,51.0,9.0
15,2001-01-01,15,18.0,22.0,42.0,23.0,36.0,28.0,49.0,10.0
16,2001-01-01,16,18.0,23.0,45.0,23.0,33.0,25.0,51.0,10.0
17,2001-01-01,17,17.0,33.0,52.0,22.0,46.0,25.0,50.0,15.0
18,2001-01-01,18,18.0,58.0,74.0,23.0,63.0,48.0,65.0,30.0
19,2001-01-01,19,18.0,61.0,89.0,23.0,68.0,54.0,89.0,30.0
20,2001-01-01,20,20.0,49.0,68.0,23.0,65.0,49.0,95.0,35.0
21,2001-01-01,21,17.0,52.0,71.0,22.0,62.0,38.0,74.0,41.0
22,2001-01-01,22,18.0,52.0,66.0,23.0,55.0,35.0,78.0,28.0
23,2001-01-01,23,18.0,52.0,66.0,23.0,54.0,32.0,68.0,29.0
24,2001-01-02,0,19.0,70.0,69.0,23.0,51.0,31.0,63.0,30.0
25,2001-01-02,1,18.0,94.0,75.0,23.0,48.0,30.0,57.0,26.0
26,2001-01-02,2,17.0,40.0,71.0,23.0,49.0,33.0,69.0,24.0
27,2001-01-02,3,17.0,32.0,66.0,24.0,43.0,32.0,64.0,22.0
28,2001-01-02,4,19.0,27.0,63.0,22.0,44.0,29.0,63.0,22.0
29,2001-01-02,5,20.0,34.0,59.0,23.0,44.0,30.0,76.0,18.0
...,...,...,...,...,...,...,...,...,...,...
8730,2001-12-30,18,53.0,39.0,62.0,40.0,25.0,38.0,6.0,21.0
8731,2001-12-30,19,57.0,51.0,66.0,57.0,28.0,43.0,6.0,22.0
8732,2001-12-30,20,63.0,51.0,66.0,58.0,28.0,44.0,6.0,34.0
8733,2001-12-30,21,57.0,47.0,66.0,48.0,25.0,40.0,6.0,31.0
8734,2001-12-30,22,56.0,44.0,70.0,51.0,22.0,42.0,6.0,28.0
8735,2001-12-30,23,58.0,41.0,72.0,39.0,23.0,42.0,6.0,33.0
8736,2001-12-31,0,49.0,41.0,66.0,39.0,25.0,41.0,7.0,31.0
8737,2001-12-31,1,59.0,40.0,67.0,52.0,26.0,39.0,6.0,36.0
8738,2001-12-31,2,60.0,40.0,73.0,32.0,26.0,40.0,6.0,35.0
8739,2001-12-31,3,57.0,37.0,70.0,41.0,25.0,37.0,6.0,34.0
8740,2001-12-31,4,56.0,33.0,70.0,40.0,23.0,35.0,6.0,31.0
8741,2001-12-31,5,56.0,33.0,70.0,49.0,18.0,35.0,6.0,33.0
8742,2001-12-31,6,56.0,32.0,70.0,40.0,15.0,37.0,6.0,32.0
8743,2001-12-31,7,58.0,29.0,68.0,35.0,11.0,38.0,6.0,33.0
8744,2001-12-31,8,61.0,38.0,85.0,38.0,21.0,39.0,6.0,43.0
8745,2001-12-31,9,84.0,82.0,85.0,35.0,25.0,37.0,6.0,73.0
8746,2001-12-31,10,75.0,69.0,70.0,61.0,23.0,32.0,6.0,73.0
8747,2001-12-31,11,58.0,50.0,72.0,37.0,19.0,31.0,7.0,52.0
8748,2001-12-31,12,62.0,46.0,70.0,31.0,23.0,34.0,6.0,49.0
8749,2001-12-31,13,53.0,45.0,57.0,31.0,21.0,40.0,6.0,30.0
8750,2001-12-31,14,50.0,37.0,48.0,36.0,15.0,32.0,6.0,25.0
8751,2001-12-31,15,49.0,33.0,44.0,31.0,14.0,30.0,6.0,22.0
8752,2001-12-31,16,45.0,22.0,44.0,31.0,16.0,25.0,6.0,15.0
8753,2001-12-31,17,46.0,23.0,48.0,33.0,16.0,26.0,6.0,12.0
8754,2001-12-31,18,56.0,42.0,61.0,47.0,25.0,39.0,6.0,30.0
8755,2001-12-31,19,55.0,50.0,66.0,50.0,26.0,46.0,6.0,35.0
8756,2001-12-31,20,58.0,48.0,66.0,44.0,24.0,46.0,6.0,35.0
8757,2001-12-31,21,59.0,47.0,58.0,35.0,20.0,44.0,6.0,38.0
8758,2001-12-31,22,53.0,46.0,54.0,43.0,16.0,41.0,6.0,31.0
8759,2001-12-31,23,53.0,48.0,61.0,51.0,17.0,43.0,7.0,29.0

In [25]:
#Vamos a convertir ahora los tipos de variables 

air_quality.dtypes

Fecha           object
Hora             int64
Aguilas        float64
Atemajac       float64
Centro         float64
Loma Dorada    float64
Miravalle      float64
Oblatos        float64
Tlaquepaque    float64
Vallarta       float64
dtype: object

In [28]:
air_quality['Fecha'] = pd.to_datetime(air_quality['Fecha'], format='%Y-%m-%d')
air_quality.dtypes

Fecha          datetime64[ns]
Hora                    int64
Aguilas               float64
Atemajac              float64
Centro                float64
Loma Dorada           float64
Miravalle             float64
Oblatos               float64
Tlaquepaque           float64
Vallarta              float64
dtype: object

In [1]:
#En este ejercicio, vamos a guardar en 3 csv diferentes las tres centrales con el mayor promedio de contaminación tomada

aguilas = air_quality.filter(['Aguilas'])
centro = air_quality.filter(['Centro'])
loma_dorada = air_quality.filter(['Loma Dorada'])

#Cada una a un csv aparte 

aguilas.to_csv('registro_aguilas.csv', index = False)
centro.to_csv('registro_centro.csv', index = False)
loma_dorada.to_csv('registro_lomadorada', index= False)

NameError: name 'air_quality' is not defined